# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log*

# Build / dist
dist/
build/
.vite/

# Environment variables

# Logs
logs/
*.log
*.log.*

# OS
.DS_Store
Thumbs.db

# IDEs y editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Testing
coverage/
*.lcov

# Lint / format
.eslintcache
.prettierignore
.prettiercache

# Storybook
out
