fastapi
uvicorn[standard]
sqlalchemy
libsql-client
sqlalchemy-libsql
libsql-experimental
python-multipart
passlib[bcrypt]
python-jose[cryptography]
pydantic[email]
python-dotenv
requests
pandas
openpyxl
Faker